// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-color: #efefef;
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #343a40;
    line-height: 50px;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
    z-index: 60;
}
a {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.header-title a {
    text-decoration: none;
    padding-left:20px;
    float: left;
}

.header-logo {
    font-family: 'PT Mono',sans-serif;
    color: #fff;
    padding-right: 10px;
    font-weight: 500;
    font-size: 30px;
    cursor: pointer;
}
.header-left {
    float: left;
}
.header-right {
    padding-top: 5px;
    float: right;
}

.header-right li {
    float: left;
    line-height: normal;
    list-style: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.header-right a {
    color: #7c8288;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.header-right a:hover {
    color: #fff;
    transition: color .3s;
}

#explanation {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
}

.modal {
    position: absolute;
    top: 10%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: 400px;
    text-align: center;
}

.modal h2 {
    padding-top: 25px;
}

div.page{
    font-size: 17px;
    padding: 20px 20px 0 20px;
    line-height: 50px;
    text-align: left;
}

.page-list li {
    padding-left: 20px;
    color: #343a40;
    text-align: left;
}
.search {
    font-family: 'PT Mono',sans-serif;
    -webkit-appearance: none;
    display: inline-block;
    margin-top: 3px;
    margin-right: 0;
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    height: 45px;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    border: 1px solid #7c8288;
    border-right: none;
}
.search-btn {
    font-family: 'PT Mono',sans-serif;
    -webkit-appearance: none;
    display: inline-block;
    margin-top: 3px;
    padding: 0 10px;
    color: #7c8288;
    width: 50px;
    height: 45px;
    vertical-align: top;
    border: none;
    border-radius: 0 5px 5px 0;
    background: #343a40;
    border: 1.3px solid #7c8288;
    outline: none;
}
.fa {
    margin-right: 5px;
}

.fa-times {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
}

h1 {
    text-align:center
}
.form-error {
    color: #ff4d75;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #7c8288;
}
.header-right li {
    position: relative;
    padding: 5px 0 5px 0;
    display: block;
    cursor: pointer;
}

.dropdwn>li {
    width: 153px;
    margin: 1px;
}

li.my{
    height: 40px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.dropdwn li {
    font-size: 17px;
}

.dropdwn .my:hover {
    color:#fff
}

.dropdwn_menu {
    width: 100%;
    display: none;
    position: absolute;
    margin-left: 0px;
    margin-top: 13px;
    padding: 0;
    background-color: #efefef;
    border-radius: 5px;
    border: 0.7px solid #CCCCCC;
}

.dropdwn_menu li {
    width: 100%;
}

.dropdwn_menu li a {
    padding: 3px 0;
    margin: -5px 3px -5px -5px;
    display: block;
    color: rgb(27, 26, 26);
}

.dropdwn_menu li a:hover {
    background: #b5b9be;
    color: rgb(63, 63, 63);
}

.flash{
    padding-top: 50px;
}

.btn-s-md{

    background-color: #343a40;
    border-radius: 5px;
    border: 0.7px solid #343a40;
    cursor:pointer;
    outline: none;
}



.fa-search{
    font-size: 20px;
    color: #7c8288;
}
.fa-search:hover{
    color: #fff;
}

h1{
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

.category h3{
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

.category ul li{
    float: none;
}

.item-title, .user-name, .likes-count{
    color: #000000;
    width: 230px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-title{
    padding-top:10px;
}

.user-name-title{
    padding-top: 10px;
    margin: 0;
}

.item-image img {
    width: 230px;
    height: 230px;
    border-radius: 10%;
    box-shadow: 0 2px 6px #c1ced7;
    object-fit: cover;
}

.category ul li input[type="submit"]{
    width: 80%;
    border: none;
    margin: 10px 0 10px 0;
    color: #000;;
    display: inline-block;
    opacity: 0.8;
    border-radius: 30px;
    background-image: linear-gradient(#eaeaea 0%, #C6C6C8 100%);
    padding: 15px 1px;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    font-size: 15px;
}

.top-link{
    text-decoration: none ;
}

.top-container{
    float: right;
    width: 85%;
    margin-right:0px;
}

.category{
    float: left;
    width: 13%;
    height:100%;
    box-shadow: 0 2px 6px #c1ced7;
}
.category h3{
    text-align: center;
}

.item-image img {
    width: 230px;
    height: 230px;
    border-radius: 10%;
    box-shadow: 0 2px 6px #c1ced7;
    object-fit: cover;
}

.top-item {
    padding: 10px;
    margin: 20px;
    float: left;
    box-shadow: 0 2px 6px #c1ced7;
    border-radius: 5%;
}

.login-link , .signup-link{
    text-decoration: none;
}
.category h3{
    text-align: center;
}

.item-image img {
    width: 230px;
    height: 230px;
    border-radius: 10%;
    box-shadow: 0 2px 6px #c1ced7;
    object-fit: cover;
    padding-bottom: 3px;
}

.page-list-title{
    margin: 0;
    padding: 20px 0 10px 0;
}
.page-list li p{
    margin: 0 ;
}
.flash {
    padding-top: 42px;
    color: white;
    background: rgb(69, 69, 75);
    text-align: center;
    z-index: 5;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

li .fa-star {
    color: #343a40;
}

nav.pagination{
    height: auto;
    display: block;
    float: left;
}

.footer__item {
    background: #343a40;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 0;
}

.footer {
    height: 20px;
    margin: 0;
    padding: 50px 0 0 0;
    color: #fff;
    text-align: center;
    display: block;
}

.pagination {
    width: 100%;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.pagination a {
    background-color: grey;
    text-decoration: none;
}

.pagination * {
    color: white;
    text-decoration: none;
    padding: 12.5px 13.5px;
    border-radius: 25px;
    font-family: 'Nunito', sans-serif;
}

.current {
    font-style: normal;
    color: white;
    background: #181f25;
    border-radius: 22.5px;
    font-family: 'Nunito', sans-serif;
}

.pagination a:hover {
    background: #171718;
}

.pagination .disabled {
    color: #666666;
    padding: 11px 17px;
    border: 1px solid #666666;
    border-radius: 23px;
    font-family: 'Nunito', sans-serif;
}

.category ul li {
    float: none;
    width: 100%;
}

@media screen and (max-width:1066px){
    .global-nav {
        position: fixed;
        right: -320px; /* これで隠れる */
        top: 0;
        width: 300px; /* スマホに収まるくらい */
        height: 100vh;
        padding-top: 40px;
        background-color: #343a40;
        transition: all .6s;
        z-index: 200;
        overflow-y: auto; /* メニューが多くなったらスクロールできるように */
    }
    .hamburger {
        position: absolute;
        right: 0;
        top: 0;
        width: 60px; /* クリックしやすいようにちゃんと幅を指定する */
        height: 60px; /* クリックしやすいようにちゃんと高さを指定する */
        cursor: pointer;
        z-index: 300;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
    }

    .global-nav__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .global-nav__item {
        text-align: center;
        padding: 0 14px;
    }
    .global-nav__item a {
        display: block;
        padding: 8px 0;
        border-bottom: 1px solid #eee;
        text-decoration: none;
        color: #111;
    }
    .global-nav__item a:hover {
        background-color: #eee;
    }
    .hamburger__line {
        position: absolute;
        left: 9px;
        width: 25px;
        height: 3px;
        background-color: #fff;
        transition: all .6s;
    }
    .hamburger__line--1 {
        top: 14px;
    }
    .hamburger__line--2 {
        top: 24px;
    }
    .hamburger__line--3 {
        top: 34px;
    }
    .black-bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: #000;
        opacity: 0;
        visibility: hidden;
        transition: all .6s;
        cursor: pointer;
    }

    .nav-open .global-nav {
        right: 0;
    }
    .nav-open .black-bg {
        opacity: .8;
        visibility: visible;
    }
    .nav-open .hamburger__line--1 {
        transform: rotate(45deg);
        top: 20px;
    }
    .nav-open .hamburger__line--2 {
        width: 0;
        left: 50%;
    }
    .nav-open .hamburger__line--3 {
        transform: rotate(-45deg);
        top: 20px;
    }
    .top-item {
        padding: 10px 25px 10px 25px;
        margin: 20px 20px 20px 20px;
        float: left;
        box-shadow: 0 2px 6px #c1ced7;
        border-radius: 5%;
    }
    .dropdwn li {
        font-size: 20px;
        margin: 10px 0 10px 0;
        /* display: block; */
        width: 100%;
    }
    .category{
        float: left;
        width: 25%;
        height:100%;
        box-shadow: 0 2px 6px #c1ced7;
    }
    .top-container {
        float: right;
        width: 75%;
        margin-right: 0px;
    }
    .item-image img {
        width: 270px;
        height: 270px;
        border-radius: 10%;
        box-shadow: 0 2px 6px #c1ced7;
        object-fit: cover;
        padding-bottom: 3px;
    }
    .item-title, .user-name, .likes-count {
        font-size: 20px;
        color: #000000;
    }

   .dropdwn_menu li a {
        color: #000000;
        font-size: 20px;
        font-weight: 500;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
    }

    .dropdwn_menu li a:hover {
        background: unset;
        color: #fff;
        transition: color .3s;
    }

    ul.dropdwn_menu{
	 background-color: #efefef;
         border: 0px;
    }

}

@media screen and (max-width:975px){
    .top-item {
        padding: 10px 25px 10px 25px;
        margin: 20px 3px;
        float: left;
        box-shadow: 0 2px 6px #c1ced7;
        border-radius: 3%;
    }
}

@media screen and (max-width:885px){
    .top-item {
        padding: 10px 80px 10px 80px;
        margin: 20px 50px 20px 50px;
        float: left;
        box-shadow: 0 2px 6px #c1ced7;
        border-radius: 5%;
    }
}

@media screen and (max-width:630px){
    .category {
	width:100%;
        display: inline-block;
	text-align: left;
 	background-image: linear-gradient(#eaeaea 0%, #c6c6c6 100%);
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  	color: #a5a5a5;
	text-decoration: none;
  	font-weight: bold;
  	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
 	border-radius: 50px;
 	font-size: 16px;
    }

    .category:active {
	opacity: 0.8;
    }

    .modal {
        position: static;
        background-color: #e6ecf0;
        padding: 20px 0 40px;
        border-radius: 10px;
        width: 450px;
        height: auto;
        text-align: center;
    }
    .category ul li input[type="submit"] {
        width: 80%;
        height: 60px;
        margin: 10px 0 10px 0;
        color: #000;
        display: inline-block;
        opacity: 0.8;
        border-radius: 30px;
        background-image: linear-gradient(#eaeaea 0%, #C6C6C8 100%);
        padding: 15px 1px;
        cursor: pointer;
        box-shadow: none;
        outline: none;
        font-size: 15px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
    }
    .top-container {
        width: 100%;
        margin-right: 0px;
    }
    .top-item {
        padding: 8%;
        margin: 10px 0;
        box-shadow: 0 2px 6px #c1ced7;
        border-radius: 1%;
    }
    .item-image img {
        width: 300px;
        height: 300px;
        border-radius: 10%;
        box-shadow: 0 2px 6px #c1ced7;
        object-fit: cover;
        padding-bottom: 3px;
    }
    .modal {
        top:0.1% !important;
        left: 0.1% !important;
        overflow: auto;
        background-color: #e6ecf0;
        border-radius: 10px;
        width: 100% !important;
        height: 400px !important;
        text-align: center;
    }
    .pagination {
        width: 90%;
    }
}
